KEY= # the private key of the bot wallet
STACK_API_KEY= # the stack api key
PORT= # the port of the server
ALCHEMY_API_KEY= # the alchemy api key
MSG_LOG= # true or false
URL=http://localhost:3000 # the url of the server
